<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<div class="container">
    <h2>Cart</h2>
    <br>
    <body>
    <td>
        <a href="/templates/products/products.html">{Products}</a>
    </td>

    <form>
        <table>
            <tr>
                <th>ru.gb.entity.Product Code</th>
                <th>Product Id</th>
                <th>products in cart:</th>
            </tr>
            <tr th:each="cart: ${carts}">
                <td th:text="${cart.id}">
                <td th:text="${cart.productId}">
                <td th:text="${cart.countProduct}">

                <th headerText="Actions">

                    <Button method="delete" action="#{cartController.delete(item.key)}"
                            update="deleteCart">Remove
                    </Button>
                </th>
        </table>
    </form>
    </body>
</div>
</html>